*{
  padding: 0px; margin:0px; box-sizing: border-box; -moz-box-sizing: border-box;
    transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
}

@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('../fonts/GTWalsheimProBold.woff2') format('woff2'),
        url('../fonts/GTWalsheimProBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('../fonts/GTWalsheimPro-Medium.woff2') format('woff2'),
        url('../fonts/GTWalsheimPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('../fonts/GTWalsheimProRegular.woff2') format('woff2'),
        url('../fonts/GTWalsheimProRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LEMON MILK';
    src: url('../fonts/LEMONMILK-Light.woff2') format('woff2'),
        url('../fonts/LEMONMILK-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'LEMON MILK';
    src: url('../fonts/LEMONMILK-Bold.woff2') format('woff2'),
        url('../fonts/LEMONMILK-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

html {
  scroll-behavior: smooth;
}
body{
  color: #171E30; font-size: 16px; font-family: 'GT Walsheim Pro';
}
a{
  text-decoration: none !important;
}
img{
  max-width: 100%;
}
p{
  font-size: 16px; line-height: 26px; color: #666666;
}
.common-btn {
    display: inline-block;
    padding: 8px 25px;
    border: 1px solid #fff;
    border-radius: 55px;
    color: #fff;
    font-weight: 500;
}
.common-btn:hover{
  background: #27ae60; border: 1px solid #27ae60; color: #fff;
}
.f-w{
  float: left; width: 100%;
}
header{
  background-color: rgb(23, 30, 48); padding: 12px 0px;
}
.header-right {
  float: right;
}
.header-btn {
  display: inline-block;
  vertical-align: middle;
}
.heaer-sign {
  display: inline-block;
  vertical-align: middle;
}
.heaer-sign ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.heaer-sign ul li {
    display: inline-block;
    vertical-align: middle;
}
.banner {
  text-align: center; background: url(../images/banner.png) no-repeat center #B9EFEB; padding: 70px 0px; background-size: cover;
}
.heaer-sign ul li a {
    color: #fff;
    font-weight: 500;
    margin-left: 20px;
}
.banner h1 {
  font-size: 48px;
  line-height: 58px;
  font-family: 'LEMON MILK';
  font-weight: bold;
}
.banner h2{
  font-size: 28px;
}
.banner-inner ul {
  float: left;
  width: 100%;
}
.banner-inner ul li {
    display: inline-block;
    margin: 0px 5px;
}
.banner-inner ul li a{
  color: #666; text-transform: capitalize;
}
.baner-search {
  position: relative;
}
.baner-search input[type="text"] {
  width: 100%;
  height: 50px;
  border-radius: 50px;
  border: none;
  padding-left: 20px;
}
.baner-search input[type="submit"] {
  position: absolute;
  right: 0px;
  height: 50px;
  border: none;
  padding: 0px 30px;
  border-radius: 50px;
  background: #27ae60; color: #fff;
}
.banr-serch-out {
  padding: 0px 170px;
}
section{
  float: left; width: 100%; padding: 80px 0px;
}
h2{
  font-size: 28px; font-family: 'LEMON MILK'; font-weight: bold; position: relative;  line-height: 40px;
}
.common-heading h2::after {
  position: absolute;
  content: "";
  width: 86px;
  height: 8px;
  border-radius: 50px;
  background-color: rgb(23, 30, 48);
  left: 0px;
  bottom: -30px;
}
.common-heading {
  margin-bottom: 80px;
}
h4{
  font-size: 16px; font-family: 'LEMON MILK'; font-weight: bold; 
}
.cat-img-home img {
  border-radius: 10px;
}
.app-dow-bg{
  background-color: rgb(23, 30, 48);
}
.app-dow-bg h2{
  color: #fff;
}
.app-dow-ul li{
  float: left; width: 50%; list-style: none;
}
.app-dow-ul li img{
  float: left; width: 90%;
}
.app-dow-bg .baner-search{
 width: 94%;
}
footer{
  background-color: rgb(23, 30, 48); padding: 60px 0px;
}
footer h4{
  color: #fff;
}
footer ul li {
  float: left; width: 100%; margin: 4px 0px;
}
footer ul li a{
  color: #fff; font-size: 14px;
}
ul{
  margin: 0px; list-style: none;
}
.bread ul li{
  display: inline-block; vertical-align: middle; color: rgb(23, 30, 48);
}
.bread ul li a{
  color: rgb(23, 30, 48);
}
.bread {
  background: #f5f5f5; padding: 20px 0px;
}
.listing-outer {
    float: left;
    width: 100%;
    position: relative;
}
.listing-img {
  width: 130px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.listing-outer {
  float: left;
  width: 100%;
  position: relative;
  min-height: 132px;
  padding-left: 150px;
  border-bottom: 1px solid #ddd; padding-top: 15px;
}
.listing-outer:hover{
  background: #f5f5f5;
}
.add-to-cart-btn {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  height: 40px;
  margin: auto;
}
.listing-outer.details-outer {
  border: none;
}
.listing-outer.details-outer:hover{
  background: none;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  border-bottom: 2px solid #000;
}
.nav-tabs .nav-link{
  border: none;
}
.details-tabs-outer .nav-tabs .nav-link{
  padding: 18px 20px;
}


@media only screen and (max-width: 550px) {

.banner-outer h4 {
  font-size: 22px;
  height: 84px;
}

}