
body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 28px;
    font-family: 'LEMON MILK';
    font-weight: bold;
}

h4 {
    font-size: 18px;
}

.f-w {
    float: left;
    width: 100%;
}

.trade-header nav ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#navbarSupportedContent {
    float: right;
}

#navbarSupportedContent ul li {
    display: inline-block;
}

section {
    padding: 80px 0px;
}

.back-login-bg {
    background: #f5f5f5;
    top: 0px;
    left: 0px;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,ffeff4+0,eef9ff+100 */
    background: rgb(30, 87, 153);
    /* Old browsers */
    background: -moz-linear-gradient(left, rgba(30, 87, 153, 1) 0%, rgba(255, 239, 244, 1) 0%, rgba(238, 249, 255, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(30, 87, 153, 1) 0%, rgba(255, 239, 244, 1) 0%, rgba(238, 249, 255, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(30, 87, 153, 1) 0%, rgba(255, 239, 244, 1) 0%, rgba(238, 249, 255, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='#eef9ff', GradientType=1);
    /* IE6-9 */

}

body {
    background: #f5f5f5;
}

.back-login-main {
    position: relative;
    z-index: 5;
}

.login-outer {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    padding: 50px 45px;
}

.form-control {
    height: 50px;
    border: 1px solid #ddd;
    border-radius: 50px;
    font-size: 14px;
}

.common-btn {
    display: inline-block;
    padding: 12px 20px;
    border-radius: 55px;
    font-weight: 500;
    color: #060023;
    border: 2px solid #060023;
    background: transparent;
    cursor: pointer;
    text-decoration: none !important;
}

.trademan-header ul li a {
    padding: 28px 14px;
    display: inline-block;
    color: #000;
    text-decoration: none !important;
}
ul.navbar-nav li.active a{
    background-color: #fff; color:#060023;
}

.front-header {
    background-color: #060023;
    padding: 0px;
}

.mt-80 {
    margin-top: 80px;
}

a {
    color: #060023;
}

a:hover {
    color: #060023;
}

.btn-link {
    color: #060023;
}

.btn-link:hover {
    color: #060023;
}

#remember {
    top: -2px;
}

.common-btn.green-btn:hover {
    background-color: #D50000;
    border: 2px solid #D50000;
    color: #fff;
}

.common-btn.white-btn {
    color: #fff;
    border: 2px solid #fff;
}

ul.navbar-nav li a {
    color: #fff; position: relative;
}

ul.navbar-nav li .dropdown-menu a {
    color: #060023;
}

.table td,
.table th {
    padding: 20px 5px;
}

.table th {
    border-bottom: 1px solid #dee2e6;
}

.navbar.trademan-header {
    padding: 0px;
}

.dropdown-menu {
    border: none;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.more-icon {
    cursor: pointer;
}

.dropdown-menu a {
    width: 100%;
    float: left;
    padding: 12px 12px;
    text-decoration: none !important;
}

.dropdown-menu input {
    width: 100%;
    float: left;
    padding: 12px 12px;
    text-decoration: none !important;
    border: none;
    text-align: left;
    background: transparent;
    cursor: pointer;
}

.dropdown-menu a:hover {
    background-color: #f5f5f5;
}

.dropdown-menu input:hover {
    background-color: #f5f5f5;
}

.dropdown-menu a span {
    display: inline-block;
    vertical-align: middle;
    margin-left: 2px;
}

.form-group.delete-shop img {
    position: absolute;
    left: 12px;
    top: 10px;
}

.form-group.delete-shop {
    position: relative;
    float: left;
    width: 100%;
    margin: 0px;
}

.form-group.delete-shop input {
    padding-left: 41px;
}

.common-btn i {
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
}

.common-btn span {
    display: inline-block;
    vertical-align: middle;
}

#navbarSupportedContent a {
    text-transform: capitalize;
}

.categories-list {
    padding: 0px;
    list-style: none;
}

.categories-list li h4 {
    text-transform: capitalize;
    margin: 0px;
}

.categories-list li {
    width: 33%;
    float: left;
    padding: 0px 20px;
}

.cate-list-outer {
    float: left;
    width: 100%;
    background: #f5f5f5;
    border-radius: 5px;
    position: relative;
}

.categories-list li img {
    width: 80px;
}

.categories-list li ul li {
    width: 100%;
    padding: 0px;
    position: relative;
}

.categories-list li ul li::after {
    position: absolute;
    left: -16px;
    width: 13px;
    height: 5px;
    content: "";
    background: #ccc;
    bottom: 0px;
    top: 0px;
    margin: auto;
    border-radius: 10px;
}

.cate-list-block {
    display: inline-block;
    width: 19%;
    vertical-align: middle;
    padding: 18px 20px;
}

.cate-list-outer ul {
    float: right;
    width: 100%;
    list-style: none;
    position: relative;
}

.cate-list-outer ul::after {
    position: absolute;
    left: 21px;
    width: 4px;
    height: 100%;
    content: "";
    background: #ccc;
    border-radius: 40px;
}

.cate-list-block img {
    max-width: 100%;
}

.table table {
    width: 100%;
}

.product-image-listing {
    width: 60px;
}

.select-cate-pro ul {
    float: left;
    width: 100%;
    list-style: none;
    padding: 0px;
    margin-top: 10px;
}

.select-cate-pro ul ul {
    padding-left: 20px;
    margin-bottom: 10px;
}

.select-cate-pro ul li span {
    vertical-align: middle;
    display: inline-block;
    margin-left: 5px;
}

.select-cate-pro ul li input {
    vertical-align: middle;
    display: inline-block;
}

.select-cate-pro ul li {
    width: 20%;
    float: left;
    padding-right: 20px;
}

img.cat-image-parent {
    width: 100px;
    border-radius: 5px;
}

.common-btn.blue-btn {
    background: #060023;
    border: 2px solid #060023;
    cursor: pointer;
    color: #fff;
}

.common-btn.border-btn {
    color: #060023;
}

.common-btn.border-btn:hover {
    background-color: #060023;
    color: #fff;
}

.shop-d-block {
    float: left;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    padding: 45px;
    position: relative;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.10);
}

.shop-d-block i {
    position: absolute;
    right: 20px;
    top: 0px;
    font-size: 90px;
    bottom: 0px;
    margin: auto;
    height: 89px;
    color: #ccc;
}

.tr-hover table tr:hover{
    background-color: #f5f5f5;
}

.sel-ord-st {
    float: left;
    width: 300px;
}
.bk-ul {
    padding: 0px;
    list-style: none;
}
.bk-ul li p {
    margin-bottom: 5px;
}
.bb-none-th.table th {
    border-bottom: none;
}

.common-btn.serch-front-btn {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 15px 31px;
    border: none;
    background-color: #D50000;
    color: #fff;
}

.search-common a {
    background: #fff;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 50px;
    margin-top: 15px;
    font-size: 12px;
    position: relative;
    padding-left: 36px;
    position: absolute;
    right: 0px;
    top: -9px;
}

.search-common a i {
    font-size: 18px;
    top: 10px;
    left: 14px;
    position: absolute;
}

.search-common.back-search {
    float: left;
    width: 100%;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}
.inner-search-rl {
    float: left;
    width: 100%;
    position: relative;
}

.search-common.back-search input[type=text] {
    padding-left: 20px;
}

.sa-cat-tabs ul {
    padding: 0px;
    list-style: none;
    float: left;
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.sa-cat-tabs ul li {
    display: inline-block;
}

.sa-cat-tabs ul li a {
    display: inline-block;
    padding: 22px 20px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    position: relative;
    top: 1px;
}

.bussiness-tab-page .sa-cat-tabs ul li.bussiness-tab a {
    border-bottom: 2px solid #D50000; font-weight: 500;     background: #fff;
}
.catrgory-tab-page .sa-cat-tabs ul li.category-tab a {
    border-bottom: 2px solid #D50000; font-weight: 500;     background: #fff;
}
.brand-tab-page .sa-cat-tabs ul li.brands-tab a {
    border-bottom: 2px solid #D50000; font-weight: 500;     background: #fff;
}
.product-tab-page .sa-cat-tabs ul li.product-tab a {
    border-bottom: 2px solid #D50000; font-weight: 500;     background: #fff;
}
.cate-input-main label{
    font-weight: 500; color: #060023;
}


.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 28px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .dropdown-menu a i {
    display: inline-block;
    vertical-align: middle;
}

.cate-input-main {
    background: #fff;
    padding: 60px 40px;
    width: 100%;
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 60px;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.10);
}
.table-head {
    float: left;
    width: 100%;
}
.table-th {
    float: left;
    width: 25%;
}
.table-th {
    float: left;
    width: 25%;
    padding: 20px 20px;
    font-weight: bold;
}

.table-body {
    float: left;
    width: 100%; margin-bottom: 10px;
}
.table-td {
    float: left;
    width: 25%;
    padding: 20px 20px;
}
.table-body {
    float: left;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.10);
}
.table-td label {
    margin: 0px;
}
.mb-80{
    margin-bottom: 80px;
}
.f-w.custom-table.product-table .table-th{
    width: 16%;
}
.f-w.custom-table.product-table .table-td{
    width: 16%;
}
.table-td img {
    max-width: 100%;
}
img.pro-img{
    width: 49px;
}
.table-head {
    float: left;
    width: 100%;
    background: #EDEDEF;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.10);
}
.custom-table.Business-table .table-th , .custom-table.Business-table .table-td{
    width: 20%;
}
.custom-table.tradesman-table .table-th , .custom-table.tradesman-table .table-td{
    width: 16%;
}
.custom-table.shops-table .table-th , .custom-table.shops-table .table-td{
    width: 14%;
}
.table.custom-table table tr th{
    background: #EDEDEF;
    padding: 22px 20px;
}
.table.custom-table table tr td{
    background: #fff;
    padding: 20px 20px;
}
.add-pro-ul{
    padding: 0px; margin: 0px; list-style: none;
}
.add-pro-ul li {
    margin: 16px 0px;
}
.add-pro-ul li input {
    margin-right: 5px;
}
.pro-add-main {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    height: 100%;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.10);
}
.table.add-pro-price table .form-control {
    height: 38px;
    font-size: 12px;
    display: none;
}
.table.add-pro-price table tr.checked .form-control{
    display: block;
}
.table.add-pro-price table tr td {
    padding: 15px 5px;
}
.table.add-pro-price table span span{
    font-weight: 700;
}
.add-pro-ul li {
    margin: 3px 0px;
    display: inline-block;
    width: 100%;
    border-top: 1px solid #ddd;
    padding: 5px 0px;
    padding-top: 16px;
}
.add-pro-ul li:first-child {
    margin-top: 0px;
}
.add-pro-submit {
    background: #fff;
    left: 0px;
    bottom: 0px;
    z-index: 2;
    position: fixed;
    width: 100%;
    padding: 15px 15px;
    text-align: center;
    border-top: 1px solid #ddd;
}
a.navbar-brand {
    color: #fff;
}
.nav.nav-tabs li a {
    padding: 20px 30px;
    border-bottom: 2px solid transparent;
    position: relative;
    top: 1px;
    border: none;
}
.nav.nav-tabs li a:hover{
    background-color: #fff;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    border-bottom: 2px solid #D50000;
}
.table.custom-table {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.10);
}
.add-products-page {
    padding-bottom: 150px;
}
.f-w.shop-pro-cate ul {
    float: left;
    width: 100%;
    list-style: none;
    padding: 0px;
    background: #fff;
}
.f-w.shop-pro-cate ul li {
    display: table;
    width: 100%;
}
.f-w.shop-pro-cate ul li div {
    display: table-cell;
    width: 33%;
}
.shop-pro-img{
    width: 100px;
}
.shop-pro-stock p {
    display: inline-block;
    position: relative;
    top: 3px;
}
.shop-pro-stock.selected p.outofstock {
    display: none;
}
.report-sp-tr-out {
    position: relative;
    padding-right: 115px;
}
.report-sp-tr-out button {
    position: absolute;
    right: 15px;
    top: 0px;
}
.col-form-label{
    text-transform: capitalize;
}
.common-white-bg{
    background: #fff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.10);
}

@media only screen and (max-width: 1400px) {

    .categories-list li {
        width: 49%;
        padding: 0px 20px;
        margin-bottom: 40px;
        display: inline-block;
        vertical-align: top;
    }

}
