* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
}

@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('../fonts/GTWalsheimProBold.woff2') format('woff2'),
        url('../fonts/GTWalsheimProBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('../fonts/GTWalsheimPro-Medium.woff2') format('woff2'),
        url('../fonts/GTWalsheimPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('../fonts/GTWalsheimProRegular.woff2') format('woff2'),
        url('../fonts/GTWalsheimProRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LEMON MILK';
    src: url('../fonts/LEMONMILK-Light.woff2') format('woff2'),
        url('../fonts/LEMONMILK-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'LEMON MILK';
    src: url('../fonts/LEMONMILK-Bold.woff2') format('woff2'),
        url('../fonts/LEMONMILK-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #060023;
    font-size: 16px;
    font-family: 'GT Walsheim Pro';
}

a {
    text-decoration: none !important;
}

img {
    max-width: 100%;
}

p {
    font-size: 16px;
    line-height: 26px;
    color: #666666;
}

.common-btn {
    display: inline-block;
    padding: 8px 25px;
    border: 1px solid #fff;
    border-radius: 55px;
    color: #fff;
    font-weight: 500;
}

.common-btn:hover {
    background: #D50000;
    border: 1px solid #D50000;
    color: #fff;
}

.f-w {
    float: left;
    width: 100%;
}

header {
    background-color: rgb(23, 30, 48);
    padding: 12px 0px;
}

.header-right {
    float: right;
}

.header-btn {
    display: inline-block;
    vertical-align: middle;
}

.heaer-sign {
    display: inline-block;
    vertical-align: middle;
}

.heaer-sign ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.heaer-sign ul li {
    display: inline-block;
    vertical-align: middle;
}

.banner {
    text-align: center;
    padding: 70px 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,ffeff4+0,eef9ff+100 */
    background: rgb(30, 87, 153);
    /* Old browsers */
    background: -moz-linear-gradient(left, rgba(30, 87, 153, 1) 0%, rgba(255, 239, 244, 1) 0%, rgba(238, 249, 255, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(30, 87, 153, 1) 0%, rgba(255, 239, 244, 1) 0%, rgba(238, 249, 255, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(30, 87, 153, 1) 0%, rgba(255, 239, 244, 1) 0%, rgba(238, 249, 255, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='#eef9ff', GradientType=1);
    /* IE6-9 */
}

.heaer-sign ul li a {
    color: #fff;
    font-weight: 500;
    margin-left: 20px;
}

.banner h1 {
    font-size: 48px;
    line-height: 58px;
    font-family: 'LEMON MILK';
    font-weight: bold;
}

.banner h2 {
    font-size: 28px;
}

.banner-inner ul {
    float: left;
    width: 100%;
}

.banner-inner ul li {
    display: inline-block;
    margin: 0px 2px;
}

.banner-inner ul li a {
    color: #666;
    text-transform: capitalize;
}

.baner-search {
    position: relative;
}

.baner-search input[type="text"] {
    width: 100%;
    height: 65px;
    border-radius: 50px;
    border: none;
    padding-left: 44px;
    box-shadow: 0 14px 24px rgba(46,45,54,.25);
    font-size: 18px;
}

.baner-search input[type="submit"] {
    position: absolute;
    right: 0px;
    height: 65px;
    border: none;
    padding: 0px 30px;
    border-radius: 50px;
    background: #D50000;
    color: #fff;
}

.banr-serch-out {
    padding: 0px 170px;
}

section {
    float: left;
    width: 100%;
    padding: 80px 0px;
}

h2 {
    font-size: 28px;
    font-family: 'LEMON MILK';
    font-weight: bold;
    position: relative;
    line-height: 40px;
}

.common-heading h2::after {
    position: absolute;
    content: "";
    width: 86px;
    height: 8px;
    border-radius: 50px;
    background-color: rgb(23, 30, 48);
    left: 0px;
    bottom: -30px;
}

.common-heading {
    margin-bottom: 80px;
}

h4 {
    font-size: 16px;
    font-family: 'LEMON MILK';
    font-weight: bold;
}
.bus-home-outer {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.22);
    float: left;
    width: 100%;
    border-radius: 5px;
    padding: 20px 20px; text-align: left;
}
.cat-img-home img {
    margin-right: 25px;     width: 75px;
}
.cat-img-home h4 {
    margin: 0px;
}
.cat-img-home {
    display: inline-block;
    vertical-align: middle;
}

.app-dow-bg {
    background: url(../images/app-bg.jpg) no-repeat bottom;
    background-size: contain;
}
.iphone-text {
    float: left;
    width: 60%;
    margin-left: 80px;
    margin-top: 67px;
}
.app-dow-ul li {
    float: left;
    width: 50%;
    list-style: none;
}

.app-dow-ul li img {
    float: left;
}

.app-dow-bg .baner-search {
    width: 94%;
}

footer {
    background-color: rgb(23, 30, 48);
    padding: 60px 0px;
    position: relative;
    z-index: 2;
}

footer h4 {
    color: #fff;
}

footer ul li {
    float: left;
    width: 100%;
    margin: 4px 0px;
}

footer ul li a {
    color: #fff;
    font-size: 14px;
}

ul {
    margin: 0px;
    list-style: none;
}

.bread ul li {
    display: inline-block;
    vertical-align: middle;
    color: rgb(23, 30, 48);
}

.bread ul li a {
    color: rgb(23, 30, 48);
    text-transform: capitalize;
    font-size: 14px;
}

.bread {
    background: #f3f4f4;
    padding: 20px 0px;
}

.listing-outer {
    float: left;
    width: 100%;
    position: relative;
}

.listing-img {
    width: 130px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.listing-outer {
    float: left;
    width: 100%;
    position: relative;
    min-height: 147px;
    padding-left: 150px;
    padding-top: 5px;
    border-radius: 10px;
    overflow: hidden;
}

.listing-outer:hover {
    box-shadow: 0 14px 24px rgba(46,45,54,.25);
}

.add-to-cart-btn {
    position: absolute;
    right: 15px;
    top: 0px;
    bottom: 0px;
    height: 40px;
    margin: auto;
}

.listing-outer.details-outer {
    border: none;
}

.listing-outer.details-outer:hover {
    background: none;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border-bottom: 2px solid #000;
}

.nav-tabs .nav-link {
    border: none;
}

.details-tabs-outer .nav-tabs .nav-link {
    padding: 18px 20px;
    text-transform: capitalize;
}

.front-header {
    background-color: #060023;
    padding: 10px 0px;
    position: relative;
    z-index: 9;
}

.banner-inner ul li span {
    color: #666;
}

.baner-search a {
    position: absolute;
    right: 125px;
    top: 19px;
    z-index: 2;
}

a {
    color: #060023;
}

.baner-search a span {
    position: relative;
    top: 3px;
}

.loc-icon {
    position: absolute;
    left: 16px;
    top: 20px;
}

.common-btn.no-border {
    border: none;
}

.common-btn.no-border:hover {
    border: none;
    background: transparent;
}

button.common-btn.blue-btn.blue-bg {
    background: #060023;
    color: #fff;
}

button.common-btn.blue-btn.blue-bg:hover {
    background-color: #D50000;
}

.table table {
    width: 100%;
}

.table table tr td img {
    width: 100px;
}

.mt-80 {
    margin-top: 80px;
}

button.common-btn.blue-btn {
    border: 2px solid #060023;
    cursor: pointer;
}

ul.my-account-sidebar {
    float: left;
    width: 100%;
    background: #f3f4f4;
    border-radius: 10px;
    height: 100%;
    padding: 20px;
}

ul.my-account-sidebar li {
    float: left;
    width: 100%;
}

ul.my-account-sidebar li a {
    float: left;
    width: 100%;
    padding: 14px 20px;
    border-radius: 50px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

ul.my-account-sidebar li a:hover {
    background-color: #060023;
    color: #fff;
}

.my-acc-main {
    float: left;
    width: 100%;
    border-radius: 10px;
    padding: 25px;
    position: relative;
}

.common-btn.blue-btn {
    border: 2px solid #060023;
    color: #060023;
    cursor: pointer;
    background: transparent;
}

.common-btn.blue-btn:hover {
    border: 2px solid #D50000;
    color: #fff;
    background-color: #D50000;
}

.front-head-user i {
    color: #fff;
    font-size: 36px;
}

.front-head-user a {
    display: inline-block;
    cursor: pointer;
}

.front-head-user {
    margin-left: 10px;
    margin-top: 0px;
    position: relative;
    top: 4px;
}

.front-head-user ul li {
    width: 100%;
}

.front-head-user .dropdown-menu ul li a {
    width: 100%;
    color: #060023;
    padding: 14px 12px;
}

ul.my-acc-usr-ul li .dropdown-menu a {
    width: 100%;
    color: #060023;
    padding: 14px 12px;
}

.front-head-user ul li a:hover {
    color: #060023;
    background-color: #f3f4f4;
}

.front-head-user .dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    content: "";
    border-top: .3em solid #fff;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    margin-bottom: 14px;
}

.login-outer {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    padding: 50px 45px;
}

.form-control {
    height: 50px;
    border: 1px solid #ddd;
    border-radius: 50px;
    font-size: 14px;
}

.btn-link {
    color: #060023;
}

.back-login-bg {
    background: #f3f4f4;
    top: 0px;
    left: 0px;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,ffeff4+0,eef9ff+100 */
    background: rgb(30, 87, 153);
    /* Old browsers */
    background: -moz-linear-gradient(left, rgba(30, 87, 153, 1) 0%, rgba(255, 239, 244, 1) 0%, rgba(238, 249, 255, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(30, 87, 153, 1) 0%, rgba(255, 239, 244, 1) 0%, rgba(238, 249, 255, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(30, 87, 153, 1) 0%, rgba(255, 239, 244, 1) 0%, rgba(238, 249, 255, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='#eef9ff', GradientType=1);
    /* IE6-9 */
}

ul.my-acc-usr-ul li a {
    color: #fff;
}

form.add-to-cart-form {
    float: right;
    width: auto;
    position: relative;
}

.number-pro-btn {
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 50px;
    text-align: center;
    width: 110px;
    padding: 0px 22px;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: textfield;
}

.number-pro-btn:focus {
    outline: none;
}

.add-pro-btn {
    position: absolute;
    right: 0px;
    height: 100%;
    border: none;
    background: transparent;
    padding: 9px 10px;
    cursor: pointer;
    color: #D50000;
    top: 0px;
}

.add-pro-btn:focus {
    outline: none;
}

.min-pro-btn {
    position: absolute;
    left: 0px;
    height: 100%;
    border: none;
    background: transparent;
    padding: 8px 10px;
    cursor: pointer;
    color: #D50000;
    top: 0px;
}

.min-pro-btn:focus {
    outline: none;
}

.cart-fixed {
    position: fixed;
    left: 0px;
    right: 0px;
    background-color: #D50000;
    bottom: 0px;
    padding: 12px 0px;
    z-index: 99;
}

.cart-fix-left {
    float: left;
    width: auto;
    margin-top: 8px;
}

.cart-fix-left i {
    color: #fff;
    display: inline;
    vertical-align: middle;
}

.cart-fix-left span {
    color: #fff;
    display: inline;
    vertical-align: middle;
}

.cart-fix-left h4 {
    color: #fff;
    display: inline;
    vertical-align: middle;
}

.cart-fix-right {
    float: right;
}

.cart-fix-right .common-btn {
    background: #fff;
    color: #D50000 !important;
    cursor: pointer;
}

ul.my-acc-usr-ul {
    text-transform: capitalize;
    display: inline-block;
    vertical-align: middle;
}

h5 {
    font-size: 16px;
}

.search-common input {
    height: 50px;
    border: 1px solid #ddd;
    border-radius: 50px;
    background: #f3f4f4;
    padding-left: 50px;
    font-size: 16px;
}

.search-common {
    position: relative; padding-right: 140px;
}

.search-common input:focus {
    outline: none;
}

.search-common i {
    position: absolute;
    left: 19px;
    z-index: 1;
    top: 13px;
}

.navbar-brand {
    color: #fff;
}

ul.my-account-sidebar li a i {
    display: inline-block;
    vertical-align: middle;
}

ul.my-account-sidebar li a span {
    display: inline-block;
    vertical-align: middle;
}

.acc-main {
    float: left;
    width: 100%;
    background: #fff;
    padding: 60px;
    border-radius: 10px;
}

.my-acc-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #f3f4f4;
    z-index: 1;
}

.my-acc-sec {
    position: relative;
    z-index: 2;
}

.add-list {
    float: left;
    width: 100%;
    margin-bottom: 40px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    position: relative;
}

.add-list i {
    position: absolute;
    left: 16px;
    top: 17px;
}

.add-list h4 {
    padding-left: 25px;
}

.header-cart {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 5px;
    margin-left: 15px;
    margin-right: 10px;
}

.header-cart i {
    font-size: 28px;
    color: #fff;
    cursor: pointer;
}

span#card-number {
    background: #D50000;
    color: #fff;
    position: absolute;
    top: -10px;
    right: -8px;
    padding: 0px 8px;
    border-radius: 50px;
    font-size: 12px;
}

.table.cart-table {
    padding: 40px 40px;
    background: #f3f4f4;
    border-radius: 10px;
}

.table.no-border th {
    border: none;
}

.table.no-border td {
    border: none;
}

.scheck-out-btn {
    border-top: 1px solid #ddd;
    padding-top: 30px;
    margin-top: 18px;
}

.scheck-out-btn .common-btn {
    background-color: #fff;
}

.checkout-add-inner {
    float: left;
    width: 100%;
    border: 1px dashed #ddd;
    margin: 15px 0px;
    padding: 40px;
    position: relative;
}

.checkout-add-inner input {
    position: absolute;
    left: 40px;
    top: 43px;
    z-index: 2;
}

.checkout-add-inner h4 {
    padding-left: 22px;
    margin-bottom: 15px;
}

.my-acc-or-main.table th {
    border-top: none;
}

.my-acc-or-main ul {
    border-radius: 5px;
    float: left;
    width: 100%;
}
.my-acc-or-main ul li {
    padding: 20px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    border-radius: 5px;
}

.my-acc-or-img {
    float: left;
    width: 200px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.my-acc-or-item {
    display: inline-block;
    width: 100%;
    border-top: 1px dashed #ddd;
    padding-top: 20px;
    margin-top: 15px;
}

.my-acc-or-main ul li {
    float: left;
    width: 100%;
    position: relative;
}

.my-acc-or-text p {
    margin-bottom: 0px;
}

.my-acc-or-text {
    min-height: 149px;
    float: left;
    width: 100%;
    padding-left: 220px;
}

.common-btn.serch-front-btn {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 13px 31px;
    border: none;
    background-color: #D50000;
}

.search-common a {
    background: #f3f4f4;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 50px;
    margin-top: 15px;
    font-size: 12px;
    position: absolute;
    padding-left: 36px;
    right: 0px;
    top: -7px;
}

.search-common a i {
    font-size: 18px;
    top: 10px;
    left: 14px;
}

.footer-block p {
    color: #b9b9b9;
  }
  .footer-block {
    border-bottom: 1px solid #444;
    padding-bottom: 20px;
    margin-bottom: 40px;
  }
  footer ul li a{
    color: #b9b9b9;
  }
  footer ul li a:hover{
    color: #fff;
  }
  
  
  .table table {
    width: 100%;
  }
  .table table tr td img {
    width: 100px;
  }
  input[type="submit"]:focus {
    outline: none;
}
.baner-search input:focus{
    outline: none;
}
#navbarSupportedContent {
    float: right;
}
.footer-btm{
    text-align: center; background-color: #0C1223; padding: 26px 0px;
    position: relative;
    z-index: 2;
}
.footer-btm p{
    margin: 0px; color: #fff;
}
.iphone-img {
    float: left;
}
.pr{
    position: relative;
}
.front-search-out {
    float: left;
    width: 100%;
    position: relative;
}
.front-brant-n {
    background: #171e30;
    padding: 15px 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.front-brant-n h4 {
    margin: 0px;
    font-size: 14px;
    font-family: 'GT Walsheim Pro';
    color: #fff;
}
.cart-fix-left {
    color: #fff;
}
#address-form .form-group {
    width: 50%;
    float: left;
}
.mb-80{
    margin-bottom: 80px;
}
.cart-f-cont {
    display: inline-block;
    vertical-align: middle;
}
.cart-f-cont p {
    margin: 0px;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
}
.acc-main #address-form {
    margin-left: -15px;
    margin-right: -15px;
}
.bread ul li span {
    margin: 0px 2px;
    display: inline-block;
    vertical-align: middle;
    line-height: initial;
}
.bread ul li span i {
    line-height: 27px;
}
.bread ul li p {
    margin: 0px;
    margin-bottom: 3px;
}
.p-r {
    position: relative;
}
.phone-app-link {
    float: left;
    width: 100%;
    margin-top: 150px;
}
.phone-app-link input[type="text"] {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    height: 45px;
}
.common-btn.white-btn {
    background: transparent; cursor: pointer;
}
.common-btn.white-btn:hover{
    background-color: #fff; border: 1px solid #fff; color: #060023;
}
.testi-inner {
    float: left;
    width: 100%;
    background: #fff;
    padding: 50px;
    border-radius: 10px;
}
.testi-inner p{
    font-size: 18px;
    line-height: 28px;
}
.testi-outer-main{
    background: #f3f3f5;
}
.testi-img {
    position: absolute;
    left: 0px;
    height: 132px;
    width: 132px;
    border-radius: 100%;
    overflow: hidden;
    border: 2px solid #000;
    top: 0px;
}
.testi-user {
    position: relative;
    min-height: 132px;
    padding-left: 158px;
    padding-top: 43px;
}
.inner-banner{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,ffeff4+0,eef9ff+100 */
background: rgb(30,87,153); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(30,87,153,1) 0%, rgba(255,239,244,1) 0%, rgba(238,249,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(30,87,153,1) 0%,rgba(255,239,244,1) 0%,rgba(238,249,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(30,87,153,1) 0%,rgba(255,239,244,1) 0%,rgba(238,249,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#eef9ff',GradientType=1 ); /* IE6-9 */
padding: 80px 0px;
}
.set-location-left-side {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99;
    background: #fff;
    width: 450px;
    height: 100vh;
    padding: 40px;
    padding-top: 65px;
    overflow: auto;
    max-width: 100%;
}
.z-2{
    z-index: 2;
}
.set-location-home-outer {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    top: 0px;
    left: 0px;
}
.set-loc-home-tb-btn button {
    float: left;
    width: 33.33%;
    padding: 12px 5px;
    background: transparent;
    font-size: 14px;
}
.set-loc-home-tb-btn button:hover{
    background-color: #f3f4f4;
}
.set-loc-home-tb-btn {
    width: 100%;
    float: left;
}
.address-type-middle {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.set-loc-home-tb-btn {
    width: 100%;
    float: left;
    border: 1px solid #ddd;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
}
div#other-part {
    position: absolute;
    background: #fff;
    width: 100%;
    height: 100%;
}
div#other-part button {
    position: absolute;
    right: 14px;
    top: 15px;
    border: none;
    background: transparent;
    font-size: 14px;
    color: #DE4847; cursor: pointer;
}
div#left-map-wrapper {
    width: 100% !important;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}
.set-location-home-close {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 30px;
    cursor: pointer;
}
.save-add-list {
    float: left;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
}
.save-add-list h6 {
    margin-bottom: 10px;
    padding-left: 26px;
    text-transform: capitalize;
}
.save-add-list p {
    margin-bottom: 0px;
    padding-left: 26px;
    line-height: 22px;
}
.pac-loc-city {
	position: relative;
}
.pac-loc-city .loc-icon{
    left: 12px;
    top: 13px;
}
.pac-loc-city input {
    padding-left: 38px;
}
.loc-header-main {
    display: inline-block;
    vertical-align: top;
    margin-top: 9px;
    margin-left: 25px;
}
.main-loc-head {
    display: inline-block;
    vertical-align: top;
}
.main-loc-head h4 {
    display: inline-block;
    vertical-align: top;
    color: #fff;
    margin: 0px;
    margin-right: 10px;
    font-size: 14px;
    position: relative;
    top: 4px;
}
.main-loc-head p {
    display: inline-block;
    vertical-align: top;
    color: #fff;
    margin: 0px;
}
.loc-head-btn {
    background: transparent;
    border: none;
    padding: 0px;
    color: #fff;
    margin-left: 4px; cursor: pointer;
}
#change-delivery-address {
    cursor: pointer;
}
.list-icon {
    position: relative;
}
.list-icon i {
    position: absolute;
    top: 0px;
    left: 5px;
    font-size: 27px;
}
.list-icon h4 {
    padding-left: 40px;
    padding-top: 6px;
}
.list-icon-p i {
    position: absolute;
    left: 5px;
    top: 1px;
}
.list-icon-p p {
    padding-left: 40px;
}
.list-icon-h6 i {
    position: absolute;
    left: 5px;
    top: 1px;
}
.list-icon-h6 h6 {
    padding-left: 40px; padding-top: 3px;
}
.list-icon-p {
    margin-top: 5px;
    display: inline-block;
    width: 100%;
}
.first-loc-icon i {
    position: absolute;
    left: 0px;
    top: -2px;
    font-size: 20px;
}
.login-page-r {
    margin-top: 25px;
}
.login-page-r a {
    display: inline-block;
    margin: 0px;
    vertical-align: middle;
    text-decoration: underline !important;
}
.login-page-r p {
    display: inline-block;
    vertical-align: middle;
    margin: 0px; margin-right: 5px;
}
.input-icon-outer {
    position: relative;
}
.input-icon-outer i {
    position: absolute;
    left: 18px;
    top: 12px;
    color: #060023;
    z-index: 2;
}
.input-icon-outer input {
    padding-left: 50px;
}
a:hover {
    color: initial;
}
.save-add-list:hover {
    background: #f3f4f4;
}
.listing-outer.details-outer .listing-text {
    padding-top: 32px;
}

.login-page .front-header {
    display: none;
}
.login-page footer {
    display: none;
}
.login-page .footer-btm{
    display: none;
}

.register-page .front-header {
    display: none;
}
.register-page footer {
    display: none;
}
.register-page .footer-btm{
    display: none;
}
.cho-head-dl-add {
    margin: 0px;
    color: #fff;
    display: inline-block;
    vertical-align: top;
}
.col-form-label{
    text-transform: capitalize;
}
.h-100vh{
    height: 100vh;
}
.cart-items-outer {
    position: relative;
    display: inline-block;
    width: 100%;
    padding-left: 120px;
    min-height: 120px;
    margin-bottom: 20px;
    border-radius: 8px;
}
.cart-item-img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100px;
}
.cart-item-content {
    display: inline-block;
    width: 100%;
    padding-top: 28px;
}
.cart-item-content h4 {
    margin-bottom: 9px !important;
}
.cart-item-delete {
    position: absolute;
    right: 20px;
    top: 0px;
    bottom: 0px;
    height: 24px;
    margin: auto;
    z-index: 5;
}
.cart-item-content p span {
    font-weight: 500;
    color: #060023;
}
.cart-items-outer:hover {
    box-shadow: 0 14px 24px rgba(46,45,54,.25);
}
.checkout-add-inner h4 i {
    position: absolute;
    left: -4px;
    top: -3px;
}
.bread.inner-bread {
    background: transparent;
    padding-bottom: 0px;
}
.bread ul li p {
    font-size: 14px;
}
.front-brant-n.sav-head-main p {
    color: #fff;
    margin: 0px;
}
.out-of-time {
    pointer-events: none;
}
.footer-tabs-main {
    position: fixed;
    z-index: 9;
    left: 0px;
    width: 100%;
    bottom: 0px;
    background: #fff;
    border-top: 1px solid #ddd;
    padding-top: 4px; display: none;
}
.footer-tabs-main ul {
    float: left;
    width: 100%;
}
.footer-tabs-main ul li {
    float: left;
    width: 25%;
    text-align: center;
}
.footer-tabs-main ul li p{
    margin: 0px; font-size: 12px; color: #8E8D92;
}
.footer-tabs-main ul li i {
    position: relative;
    top: 7px;
    color: #8E8D92;
}
.out-of-time img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -moz-filter: grayscale(100%);
}
.listing-text {
    padding-top: 10px;
}
.listing-text h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
.welcome-home .footer-tabs-main ul li.home-ltab i{
    color: #D50000;
}
.welcome-home .footer-tabs-main ul li.home-ltab p{
    color: #D50000;
}
.order-page .footer-tabs-main ul li.order-ltab i{
    color: #D50000;
}
.order-page .footer-tabs-main ul li.order-ltab p{
    color: #D50000;
}
.account-page .footer-tabs-main ul li.account-ltab i{
    color: #D50000;
}
.account-page .footer-tabs-main ul li.account-ltab p{
    color: #D50000;
}

@media only screen and (max-width: 1500px) {

    .iphone-img {
        right: 11%;
    }
    .app-dow-bg{
        background-size: inherit;
    }
    .iphone-text {
        width: 55%;
        margin-left: 70px;
        margin-top: 96px;
    }

}

@media only screen and (max-width: 1200px) {

    .iphone-img {
        right: 10%;
        width: 33%;
    }
    .app-dow-bg{
        margin-top: 0px;
    }

}

@media only screen and (max-width: 991px) {

    .banr-serch-out {
        padding: 0px;
    }
    .banner h2 {
        font-size: 18px;
    }
    .acc-main .col-md-4 {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
    .acc-main .col-md-8 {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
    .my-acc-main{
        padding: 25px 0px;
    }
    .bus-main-loc .col-md-4 {
        flex: 100%;
        max-width: 100%;
        margin: 10px 0px;
    }
    .iphone-img {
        display: none;
    }
    .iphone-text {
        width: 100%;
        margin-left: 0px;
        margin-top: 0px;
    }
    .phone-app-link {
        margin-top: 40px;
    }
    .app-dow-ul img {
        width: 170px;
    }
    .app-dow-bg {
        background: #060023;
        padding-bottom: 80px !important;
    }
    .app-dow-bg h2{
        color: #fff;
    }
    .phone-app-link input[type="text"]{
        height: 50px;
        background: #fff;
        border-radius: 50px;
        padding-left: 20px;
        color: #060023;
    }
    .login-outer{
        flex: 100%;
        max-width: 100%;
    }
    .cart-col-outer .col-md-6{
        flex: 100%;
        max-width: 100%;
    }

}

@media only screen and (max-width: 767px) {

    .banner .container {
        max-width: 100%;
    }
    .mt-40-767{
        margin-top: 40px;
    }
    .iphone-img{
        display: none;
    }
    .cart-fix-right .common-btn {
        font-size: 12px;
        padding: 9px 18px;
    }
    #address-form .form-group {
        width: 100%;
    }
    .my-acc-or-img{
        position: static;
    }
    .my-acc-or-text {
        min-height: initial;
        padding-left: 0px;
        margin-top: 20px;
    }
    .container {
        max-width: 100%;
    }
    .set-location-left-side{
        width: 100%;
    }
    .back-login-bg{
        background: #060023;
    }
    .login-outer {
        background: transparent;
        box-shadow: none;
    }
    .login-outer h2{
        color: #fff;
    }
    .login-outer .form-control{
        background: transparent;
    }
    .login-outer .input-icon-outer i{
        color: #fff;
    }
    .login-outer .col-form-label{
        display: none;
    }
    .login-outer .form-check-label{
        color: #fff;
    }
    .login-outer .common-btn{
        width: 100%; background: #D50000 !important; color: #fff; border: 2px solid #D50000 !important;
    }
    .login-outer .btn.btn-link{
        color: #fff;
    }
    .login-page-r a{
        color: #fff;
    }
    .login-outer p{
        color: #999;
    }
    .cart-headin-brn .col-md-6 {
        width: 50%;
        float: left;
    }
    .footer-tabs-main{
        display: block;
    }

}

@media only screen and (max-width: 650px) {

    .banner h1{
        font-size: 28px; line-height: 48px; margin-bottom: 0px;
    }
    .banner h2 {
        font-size: 14px;
        margin-top: 0px !important; line-height: 30px;
        margin-bottom: 12px; line-height: 22px;
    }
    .front-shops-page {
        padding-top: 40px;
    }
    .front-shops-page .inner-heading {
        margin-bottom: 20px !important;
    }
    .main-loc-head p {
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

}

@media only screen and (max-width: 550px) {

    .baner-search input[type="submit"]{
        position: static; width: 100%; margin-top: 15px;
    }
    .baner-search a {
        position: absolute;
        right: 15px;
    }
    h2{
        font-size: 26px;
    }
    .common-btn.serch-front-btn{
        position: static; width: 100%; margin-top: 10px;
    }
    .search-common{
        padding-right: 0px;
    }
    .search-common a span{
        display: none;
    }
    .baner-search input[type="submit"]{
        height: 50px;
    }
    .baner-search input[type="text"]{
        height: 50px; font-size: 16px;
    }
    .baner-search a{
        top: 10px;
    }
    .loc-icon{
        top: 13px;
    }
    .login-outer{
        padding: 20px 5px;
    }
    .listing-img{
        width: 90px;
    }
    .listing-outer{
        padding-left: 105px;
        min-height: 110px;
    }
    h4 , h5{
        font-size: 14px;
    }
    .add-pro-btn .material-icons {
        font-size: 18px;
    }
    .min-pro-btn .material-icons {
        font-size: 18px;
    }
    .number-pro-btn{
        height: 35px; width: 90px;
    }
    .front-brant-n{
        padding: 12px 12px;
    }
    .acc-main{
        padding: 20px;
    }
    .my-acc-main #myTab li {
        width: 100%;
        margin-bottom: 5px;
    }
    .my-acc-main #myTab li a{
        padding-left: 0px;
    }
    .set-location-left-side{
        padding: 15px;
        padding-top: 65px;
    }
    .navbar-brand {
        display: none;
    }
    .loc-header-main{
        margin-left: 0px;
    }
    h2 {
        font-size: 20px;
        line-height: inherit;
    }
    .list-icon i{
        font-size: 32px;
    }
    .list-icon h2 {
        padding-left: 42px;
    }
    .common-heading h2::after {
        width: 65px;
        height: 5px;
        bottom: -17px;
    }
    .listing-outer.details-outer .listing-text {
        padding-top: 20px;
    }
    .cart-item-img{
        width: 80px;
    }
    .cart-items-outer{
        padding-left: 100px;
        min-height: 110px;
    }
    .cart-item-content p {
        font-size: 14px;
        margin: 0px !important;
    }
    .cart-item-content h4 {
        margin: 0px !important;
        padding-top: 24px;
    }
    .cart-item-content{
        padding-top: 0px;
    }
    .cart-item-delete{
        right: 0px;
    }
    .inner-banner{
        padding: 60px 0px;
    }
    .cart-headin-brn .col-md-6.text-right .common-btn{
        width: 100%; text-align: center; margin-top: 15px;
    }
    .table.cart-table {
        padding: 30px 20px;
        padding-top: 15px;
    }
    .cart-headin-brn .col-md-6 {
        width: 100%;
    }
    .add-to-cart-btn{
        right: 10px;
    }
    .listing-outer.details-outer .listing-text{
        padding-right: 105px;
    }
    .checkout-add-inner{
        padding: 25px;
    }
    .m-550-outer .mt-80 {
        margin-top: 50px;
    }
    .m-550-outer .mb-80 {
        margin-top: 50px;
    }
    .bread ul li span{
        margin: 0px 0px;
    }
    .inner-banner {
        padding: 40px 0px;
    }
    .f-w.m-550-outer .table.mt-5 {
        margin-top: 30px !important;
    }
    .bus-main-loc .common-heading {
        margin-bottom: 40px;
    }
    .listing-text {
        padding-top: 0px;
    }
    .listing-text p {
        margin-bottom: 0px !important;
        line-height: 24px;
    }
    .listing-text h6 {
        margin: 0px !important;
        margin-top: 4px !important;
    }

}

@media only screen and (max-width: 400px) {

    .cart-fix-left {
        width: 100%;
        text-align: center;
    }
    .cart-fix-right {
        width: 100%;
        text-align: center;
        margin-top: 5px;
    }
    .cart-fixed {
        padding: 10px 0px;
        padding-top: 0px;
    }
    .loc-header-main {
        width: 100%;
        text-align: left;
        margin-top: 0px;
    }
    #navbarSupportedContent {
        width: auto;
        text-align: center;
        position: absolute;
        top: 11px;
        right: 15px;
    }
    .main-loc-head h4{
        display: none;
    }
    .footer-tabs-main ul li p {
        width: 78px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        text-align: center;
        line-height: 18px;
    }
    .banner h1{
        font-size: 22px;
    }

}