@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('GTWalsheimProBold.woff2') format('woff2'),
        url('GTWalsheimProBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('GTWalsheimPro-Medium.woff2') format('woff2'),
        url('GTWalsheimPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('GTWalsheimProRegular.woff2') format('woff2'),
        url('GTWalsheimProRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LEMON MILK';
    src: url('LEMONMILK-Light.woff2') format('woff2'),
        url('LEMONMILK-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'LEMON MILK';
    src: url('LEMONMILK-Bold.woff2') format('woff2'),
        url('LEMONMILK-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

